<div class="ads__item item">
    <figure class="item__image">
      <img src="https://placehold.co/900x600" alt="" />
    </figure>
    <div class="item__content content">
      <div class="content__header header">
        <div class="header__main">
          <h1>{{advert.name}}</h1>
          <p>{{advert.price}}₽</p>
        </div>
        <p class="header__date">Сегодня, 14:12</p>
      </div>
      <div class="content__description">
        
      </div>
      <div class="content__info info">
        <div class="info__category">
          <p class="green_color">Категория</p>
          <p>Хобби и отдых</p>
        </div>
        <div class="info__adress">
          <p class="green_color">Адрес</p>
          <p>{{ advert.address }}</p>
        </div>
      </div>
    </div>
  </div>