.container{
    margin: 0 auto;
}

.item {
    display: grid;
    grid-template-columns: 1fr 3fr;

    height: 250px;
    margin-bottom: 10px;
    margin-right: 20px;

    padding-right: 10px;

    border: 1px solid #222222;
    border-radius: 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover{
        transition: 2s all;
        opacity: .6;
    }

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;

        margin: 0;
        & img{
            width: 280px;
            height: 220px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;

        margin-left: 15px;
    }

}

.content{

    display: flex;
    justify-content: space-around;

    &__header{
        display: flex;
        flex-direction: column;
        margin-top: 10px;

    }

    &__info{
        padding-bottom: 20px;
    }
}


.info{


    & *{
        font-size: 12px;
    }

    &__category, 
    &__adress{

        margin-bottom: 5px;

        & p{
            margin: 8px 0;

            &:first-child{
                color: #b4b4b4;
            }

            &:last-child{
                font-weight: 500;
            }

        }

    }

}


.header{

    &__main{
        display: flex;
        flex-direction: column;
        
        & h1{
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 10px 0;
            color: #3184FE;
        }

        & p{
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }

    }

    &__date{
        font-size: 12px;
        color: #b4b4b4;
        margin-top: 5px;
    }

}