<div class="container">
    <h1>Рекомендации</h1>
    <div class="container__card grid">
        <app-advert-card [routerLink]="['/view', 3]" class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
        <app-advert-card class="xl:col-6 lg:col-12"></app-advert-card>
    </div>
</div>
